<template name="streams">
    <div class="gtgn stream wrapper sixteen wide column">
        <h1>Streams</h1>
        <div class="ui fluid styled accordion">
            <div class="featured title active grievance">
                <i class="dropdown icon"></i>
                Grievance - <span></span>
            </div>
            <div class="featured content active grievance">
                <div class="twitch-frame-wrapper"><iframe src="http://www.twitch.tv/grievance/embed" frameborder="0" scrolling="no"></iframe></div>
            </div>
            <div class="title gtgnstreaming">
                <i class="dropdown icon"></i>
                GTGN Streaming - <span></span>
            </div>
            <div class="content gtgnstreaming">
                <p>Loading</p>
            </div>
            <div class="title geekybarista">
                <i class="dropdown icon"></i>
                Geeky Barista - <span></span>
            </div>
            <div class="content geekybarista">
                <p>Loading</p>
            </div>
        </div>
    </div>
</template>
